# Challenge Objectives
- Find the year with the highest mean TMAX in Minneapolis
- Find the year with the lowest mean TMIN in San Diego
- In the same plot show TMIN and TMAX

In [4]:
#Imports
import numpy as np
import matplotlib.pyplot as pp
import seaborn

%matplotlib inline

In [5]:
#parse the file
def parsefile(filename):
    return np.genfromtxt(filename,
                         delimiter = dly_delimiter,
                         usecols = dly_usecols,
                         dtype = dly_dtype,
                         names = dly_names)

In [6]:
dly_delimiter = [11,4,2,4] + [5,1,1,1] * 31
dly_usecols = [1,2,3] + [4*i for i in range(1,32)]
dly_dtype = [np.int32,np.int32,(np.str_,4)] + [np.int32] * 31
dly_names = ['year','month','obs'] + [str(day) for day in range(1,31+1)]

In [9]:
def unroll(record):
    startdate = np.datetime64('{}-{:02}'.format(record['year'],record['month']))
    dates = np.arange(startdate,startdate + np.timedelta64(1,'M'),np.timedelta64(1,'D'))
    
    rows = [(date,record[str(i+1)]/10) for i,date in enumerate(dates)]
    
    return np.array(rows,dtype=[('date','M8[D]'),('value','d')])

In [10]:
def getobs(filename,obs):
    data = np.concatenate([unroll(row) for row in parsefile(filename) if row[2] == obs])
    
    data['value'][data['value'] == -999.9] = np.nan
    
    return data

In [ ]:
#get the observations of the two stations
MN_tmax = getobs('USW00014922.dly','TMAX')
MN_tmin = getobs('USW00014922.dly','TMIN')

SD_tmax = getobs('USW00023188.dly','TMAX')
SD_tmin = getobs('USW00023188.dly','TMIN')

In [ ]:
np.mean(lihue_tmin['value']), np.mean(lihue_tmax['value'])